.light {
    border-radius: 50%;
    position: absolute;
    /* top: -50px;
    left: -25px; */
}

body {
    background-color: rgb(8, 3, 29);
    overflow: hidden;
    color: white;
    text-align: center;
    font-family: sans-serif;

}
img {
    position: absolute;
    z-index: 5;
}
img:first-of-type {
    width: 20%;
    right: -1%;
    bottom: -5%;
}
img:last-of-type {
    width: 30%;
    left: -8%;
    bottom: -5%;
}
.text {
    position: absolute;
    top: 1%;
    left: 0%;
    right: 0%;
    z-index: 10;
    opacity: 0.9;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}
h1 {
    display: inline-table;
    /* margin-bottom: 10px; */
    font-size: 2rem;
}
p {
    font-size: 1,5rem;
    margin: 0;
}

@keyframes light1 {
    0% {
        opacity: 0;
    }
    25%{
        opacity: calc((25 + 20) * 0.01);
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: calc((25 + 16) * 0.01);
    }
    100%{
        opacity: 0;
    }
}
@keyframes light2 {
    0% {
        opacity: 0;
    }
    25%{
        opacity: calc((25 + 30) * 0.01);
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: calc((25 + 2) * 0.01);
    }
    100%{
        opacity: 0;
    }
}
@keyframes light3 {
    0% {
        opacity: 0;
    }
    25%{
        opacity: calc((25 + 27) * 0.01);
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: calc((25 + 10) * 0.01);
    }
    100%{
        opacity: 0;
    }
}
@keyframes light4 {
    0% {
        opacity: 0;
    }
    25%{
        opacity: calc((25 + 10) * 0.01);
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: calc((25 + 15) * 0.01);
    }
    100%{
        opacity: 0;
    }
}

@keyframes light5 {
    0% {
        opacity: 0;
    }
    25%{
        opacity: calc((25 + 6) * 0.01);
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: calc((25 + 14) * 0.01);
    }
    100%{
        opacity: 0;
    }
}
